@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Muli:wght@300;700&display=swap');

.container {
    background: #F9EFE7;
    /* height: 744px; */
    min-height: 95vh;
    margin: 20px;
    font-family: 'Muli', sans-serif;
    padding: 36px 144px;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navitems > a {
    font-family: Muli, sans-serif;
    margin-left: 57px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    background-image: linear-gradient(transparent 60%, rgb(255, 232, 114) 50%);
}

.content {
    margin-top: 113px;
    font-family: 'Abril Fatface', cursive, sans-serif;
    font-size: 56px;
    line-height: 76px;
}

.content > span {
    background-image: linear-gradient(transparent 60%, rgb(255, 232, 114) 50%);
}

.scroll {
    position: absolute;
    right: 130px;
    bottom: 30px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
}

.line {
    border: 2px solid #000000;
    transform: rotate(90deg);
    position: absolute;
    width: 105px;
    height: 0px;
    right: 140px;
    bottom: 8px;
}